<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" contents="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <style rel="stylesheet">
        body {
            overflow-y: scroll;
        }
    </style>
    <title>管理员</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron col-md-12">
            <h2>在线考试系统</h2>
            <p>管理员审核</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active">
                    <a href="#one" aria-controls="home" role="tab" data-toggle="tab" id="user">面试人员</a>
                </li>
                <li role="presentation">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">题库录入</a>
                </li>
                <li role="presentation">
                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                <li role="presentation">
                    <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
            </ul>
        </div>
        <div class="tab-content col-md-10">
            <div role="tabpanel" class="tab-pane active" id="one">
                <table class="table table-bordered" id="userTab"></table>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">标签页-2</div>
            <div role="tabpanel" class="tab-pane" id="messages">标签页-3</div>
            <div role="tabpanel" class="tab-pane" id="settings">标签页-4</div>
        </div>
    </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/ajax.js"></script>
</body>
</html>