<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" contents="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-table.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <style rel="stylesheet">
        body {
            overflow-y: scroll;
        }
    </style>
    <title>管理员</title>
</head>
<body style="overflow-x: hidden;text-overflow: ellipsis;white-space: nowrap;">
<!-- 模态框 -->
<div class="modal fade" id="choiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">录入选择题</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="/inputQue" method="post" id="inputForm">
                    <div class="form-group">
                        <label for="post" class="col-md-2 control-label">题库</label>
                        <div class="col-md-4">
                            <input class="form-control" id="post" name="post">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-md-2 control-label">题型</label>
                        <div class="col-md-4">
                            <select class="form-control" id="type" name="type">
                                <option value="">请选择</option>
                                <option value="0">单选题</option>
                                <option value="1">判断题</option>
                                <option value="2">简答题</option>
                                <option value="3">多选题</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-md-2 control-label">题目</label>
                        <div class="col-md-8">
                            <input class="form-control" id="title" name="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="des" class="col-md-2 control-label">描述</label>
                        <div class="col-md-8">
                             <textarea class="form-control" rows="8" id="des"
                                       th:name="des"
                                       style="resize:none;overflow:visible;"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="saveQue">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 模态框 -->
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron col-md-12">
            <h2>在线考试系统</h2>
            <p>管理员审核</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" id="myTabs">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active">
                    <a href="#two" aria-controls="two" role="tab" data-toggle="tab" id="que">题库录入</a>
                </li>
                <li role="presentation">
                    <a href="#one" aria-controls="home" role="tab" data-toggle="tab" id="user">笔试人员</a>
                </li>
                <li role="presentation">
                    <a href="#three" aria-controls="three" role="tab" data-toggle="tab">未开发</a></li>
                <li role="presentation">
                    <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">未开发</a></li>
            </ul>
        </div>
        <div class="tab-content col-md-10">
            <div role="tabpanel" class="tab-pane" id="one">
                <!--<div class="row" style="margin-bottom: 10px;">-->
                <!--<form class="form-inline">-->
                <!--<div class="form-group" style="margin-right: 10px;">-->
                <!--<input type="text" class="form-control" id="searchName" placeholder="用户名">-->
                <!--</div>-->
                <!--<div class="form-group" style="margin-right: 10px;">-->
                <!--<select class="col-sm-2 form-control" id="searchPost">-->
                <!--<option value="">请选择</option>-->
                <!--<option value="2017java">Java开发人员</option>-->
                <!--<option value="2017c">C开发人员</option>-->
                <!--<option value="2017oracle">数据库</option>-->
                <!--<option value="2017test">测试人员</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<button type="button" class="btn btn-default" id="searchBtn">搜索</button>-->
                <!--<button type="button" class="btn btn-default" id="searchBtn_reset">重置</button>-->
                <!--</form>-->
                <!--</div>-->
                <div class="row">
                    <table class="table table-bordered" id="userTab"></table>
                </div>
                <div class="row">
                    <!-- 分页文字信息 -->
                    <div class="col-md-6" id="page_info_area"></div>
                    <div class="col-md-6" id="page_nav_area"></div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane  active" id="two">
                <div class="row">
                    <table class="table table-bordered" id="queTab">
                        <tr>
                            <th>序号</th>
                            <th>题库</th>
                            <th>题型</th>
                            <th>题目</th>
                            <th>操作</th>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                        <a href="#" data-toggle="modal" data-target="#choiceModal" role="button"
                           class="btn btn-primary">录入</a>
                        <a href="/commitInputQues" role="button" class="btn btn-primary" id="commitInputQues">保存</a>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="three">
                <div class="row col-md-2">
                    <select class="form-control" id="selectTemp">
                        <option value="">选择试题模板</option>
                        <!--<option value="2017java">Java开发人员</option>-->
                        <!--<option value="2017c">C开发人员</option>-->
                        <!--<option value="2017oracle">数据库</option>-->
                        <!--<option value="2017test">数据库</option>-->
                    </select>
                </div>
                <div class="row col-md-12">
                    <a class="btn btn-link" role="button" data-toggle="collapse" href="#showlist"
                       aria-expanded="false" aria-controls="showlist">
                        列表1
                    </a>
                    <div class="collapse" id="showlist">
                        <div class="well">

                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="settings">
                <table id="bt_table"></table>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.flexText.js"></script>
<script src="js/bootstrap-table.js"></script>
<script src="js/bootstrap-table-zh-CN.js"></script>
<script src="js/tableExport.js"></script>
<script src="js/bootstrap-table-export.js"></script>
<script src="js/ajax.js"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        $("#user").click();
    })
</script>
</body>
</html>