<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" contents="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <title>个人信息</title>
    <style rel="stylesheet">
        body {
            overflow-y: scroll;
        }

        input[class='form-control'] {
            min-width: 200px;
            max-width: 200px;
        }

        select {
            min-width: 200px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <!-- top -->
    <div class="row">
        <div class="jumbotron col-md-12">
            <h2>在线考试系统</h2>
            <p>请填写您的个人详细信息</p>
        </div>
    </div>
    <!-- top -->
    <!-- form -->
    <div class="row">
        <form class="form-horizontal" action="/initExaPaper" method="post">
            <div class="col-md-11 col-md-offset-1">
                <div class="row">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="name" name="name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-1">
                <div class="row">
                    <div class="form-group">
                        <label for="school" class="col-sm-2 control-label">学校</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="school" name="school">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-1">
                <div class="row">
                    <div class="form-group">
                        <label for="major" class="col-sm-2 control-label">专业</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="major" name="major">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-1">
                <div class="row">
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">手机号</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="phone" name="phone">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-1">
                <div class="row">
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="email" name="email">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-1">
                <div class="row">
                    <div class="form-group">
                        <label for="post" class="col-sm-2 control-label">应聘岗位</label>
                        <div class="col-sm-2">
                            <select class="col-sm-2 form-control" id="post" name="post">
                                <option value="">请选择</option>
                                <option value="java">Java开发人员</option>
                                <option value="test">测试人员</option>
                                <option value="c">C开发人员</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-1">
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">开始考试</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- form -->
</div>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>