<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <title>Title</title>
</head>
<body>
<form class="form-horizontal" action="/inputQue" method="post">
    <div class="form-group">
        <label for="post" class="col-md-2 control-label">题库</label>
        <div class="col-md-4">
            <input class="form-control" id="post" name="post">
        </div>
    </div>
    <div class="form-group">
        <label for="type" class="col-md-2 control-label">题型</label>
        <div class="col-md-4">
            <select class="form-control" id="type" name="type">
                <option value="">请选择</option>
                <option value="0">单选题</option>
                <option value="1">判断题</option>
                <option value="2">简答题</option>
                <option value="3">多选题</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-2 control-label">题目</label>
        <div class="col-md-6">
            <input class="form-control" id="title" name="title">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">选项</label>
        <div class="col-md-6">
            <input class="form-control" name="optionsList[0]">
            <input class="form-control" name="optionsList[1]">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">答案</label>
        <div class="col-md-6">
            <input class="form-control" name="answerList[0]">
            <input class="form-control" name="answerList[1]">
        </div>
    </div>
    <button type="submit" class="btn btn-default" id="bapcun">baocun</button>
</form>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript">

</script>
</body>
</html>