<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" contents="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<h3>考试试卷</h3>
<div>
    <form th:action="@{/commit}" th:object="${formBean}" method="post">
        <input type="hidden" name="tempId" th:value="${tempId}"/>
        <div>
            <div th:each="choice,c:${session.exaPaper.choiceList}">
                <input type="hidden" th:value="${choice.queBank.queId}"
                       th:name="${'canswers['+(c.index)+'].queId'}"/>
                <dl>
                    <dt th:text="${choice.queBank.title}"></dt>
                    <dd><input type="radio" th:name="${'canswers['+(c.index)+'].userAnswer'}"
                               th:text="'A、'+${choice.queOptionsList[0].options}"
                               th:value="${choice.queOptionsList[0].options}"/></dd>
                    <dd><input type="radio" th:name="${'canswers['+(c.index)+'].userAnswer'}"
                               th:text="'B、'+${choice.queOptionsList[1].options}"
                               th:value="${choice.queOptionsList[1].options}"/></dd>
                    <dd><input type="radio" th:name="${'canswers['+(c.index)+'].userAnswer'}"
                               th:text="'C、'+${choice.queOptionsList[2].options}"
                               th:value="${choice.queOptionsList[2].options}"/></dd>
                    <dd><input type="radio" th:name="${'canswers['+(c.index)+'].userAnswer'}"
                               th:text="'D、'+${choice.queOptionsList[3].options}"
                               th:value="${choice.queOptionsList[3].options}"/></dd>
                </dl>
            </div>
            <!-- 判断题 -->
            <div th:each="judge,j:${session.exaPaper.judgeList}">
                <input type="hidden" th:value="${judge.queId}"
                       th:name="${'janswers['+(j.index)+'].queId'}"/>
                <dl>
                    <dt th:text="${judge.title}"></dt>
                    <dd><input type="radio" th:name="${'janswers['+(j.index)+'].userAnswer'}" value="1"/>T</dd>
                    <dd><input type="radio" th:name="${'janswers['+(j.index)+'].userAnswer'}" value="0"/>F</dd>
                </dl>
            </div>
            <!-- 判断题 -->
            <!-- 简答题 -->
            <div th:each="shortt,s:${session.exaPaper.shortList}">
                <input type="hidden" th:value="${shortt.queId}"
                       th:name="${'sanswers['+(s.index)+'].queId'}"/>
                <dl>
                    <dt th:text="${shortt.title}"></dt>
                    <dd><textarea style="'resize:none'" rows="3"
                                  th:name="${'sanswers['+(s.index)+'].userAnswer'}"></textarea></dd>
                </dl>
            </div>
            <!-- 简答题 -->
        </div>
        <input th:type="submit" th:value="提交"/>
    </form>
</div>

<script>
    function getOption(n) {
        m = '';
        switch (n) {
            case 0:
                m = 'A';
                break;
            case 1:
                m = 'B';
                break;
            case 2:
                m = 'C';
                break;
            case 3:
                m = 'D';
                break;
        }
        return m;
    }
</script>
</body>
</html>