<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" contents="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <title>用户信息</title>
</head>
<body>
<div class="jumbotron">
    <h2>在线考试系统</h2>
    <p>请填写您的个人详细信息</p>
</div>

<div class="row col-sm-12">
    <form class="form-horizontal" th:action="@{/initUserInfo}" method="post" th:object="${user}" id="userInfo">
        <input type="hidden" name="libType" th:value="${libType}"/>
        <div class="form-group">
            <label for="name" class="col-sm-1 control-label">姓名</label>
            <div class="col-sm-1">
                <input class="form-control" id="name" name="name" placeholder="姓名">
            </div>
        </div>
        <div class="form-group">
            <label for="school" class="col-sm-1 control-label">学校</label>
            <div class="col-sm-1">
                <select class="form-control" name="school">
                    <option value="">选择毕业院校</option>
                    <option value="清华大学">清华大学</option>
                    <option value="北京大学">北京大学</option>
                    <option value="北京航空航天">北京航空航天</option>
                    <option value="上海复旦大学">上海复旦大学</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="major" class="col-sm-1 control-label">专业</label>
            <div class="col-sm-1">
                <input class="form-control" id="major" name="major" placeholder="专业"/>
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-1 control-label">电话</label>
            <div class="col-sm-1">
                <input class="form-control" id="phone" name="phone" placeholder="电话"/>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-1 control-label">邮箱</label>
            <div class="col-sm-1">
                <input class="form-control" id="email" name="email" placeholder="邮箱"/>
            </div>
        </div>
        <div class="form-group">
            <label for="post" class="col-sm-1 control-label">岗位</label>
            <div class="col-sm-1">
                <input class="form-control" id="post" name="post" placeholder="应聘岗位"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-1">
                <button type="button" class="btn btn-default" onclick="validate()">开始考试</button>
            </div>
        </div>
    </form>
</div>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">

    $(function () {
        var successClass = "has-success has-feedback";
        var span = $("<span></span>").addClass("glyphicon glyphicon-ok form-control-feedback").attr("aria-hidden", "true");
        var inputs = $("input[class='form-control'][type!='hidden']");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs.eq(i).val() != "") {
                inputs.eq(i).parent().addClass(successClass);
                // 添加<span>节点
                inputs.eq(i).after(span);
            }
        }
    })

    // 填写信息
    $("input[class='form-control'][type!='hidden']").change(function () {
        var txt = $(this).val().trim();
        var successClass = "has-success has-feedback";
        var span = $("<span></span>").addClass("glyphicon glyphicon-ok form-control-feedback").attr("aria-hidden", "true");
        if (txt != "") {
            // 父节点添加成功Class
            $(this).parent().addClass(successClass);
            // 添加<span>节点
            $(this).after(span);
        } else {
            // 父节点删除成功Class
            $(this).parent().removeClass(successClass);
            // 删除<span>节点
            $(this).next().remove();
        }
    });

    // 表单验空
    function validate() {
        var inputs = $("input[class='form-control'][type!='hidden']");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs.eq(i).val() == "") {
                alert(inputs.eq(i).attr("placeholder") + "不能为空！");
                return false;
            }
        }
        $("#userInfo").submit();
    }
</script>
</body>
</html>